body {
    background-image: url(science.png);
}



#main {
    font-family: 'Raleway', sans-serif;
    padding: 30px;
    font-size: large;
}

footer {
    background-color: transparent;
}

#title {
    font-size: 50px;
}